<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @task.number %>
</p>

<p>
  <strong>The task:</strong>
  <%= @task.the_task %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
